<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Unsupervised Word Embedding</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://kit.fontawesome.com/3ac68f04d9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar" class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light container">
                <a class="navbar-brand" href="/">UWE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">	
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/uwe/info">What is UWE?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/uwe/fileupload">Upload File</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/uwe/about">About Us</a>
                        </li>    
                    </ul>	
                </div>
            </nav>
        </div>