<%- include('partials/header') %>

<div id="about" class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="/img/ds.png" alt="Dhruv Solanki" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="card">
                    <h5>Dhruv Solanki</h5>
                    <p>Machine Learning and Deep Learning</p>   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="/img/hs.png" alt="Hemant Solanki" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="card">
                    <h5>Hemant Solanki</h5>
                    <p>Machine Learning and Deep Learning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="/img/nt.png" alt="Nishit Trivedi" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="card">
                    <h5>Nishit Trivedi</h5>
                    <p>Machine Learning and Deep Learning</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>